<a href="https://colab.research.google.com/github/Satorresja/COVID-19/blob/master/Tarea.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
import pandas as pd
import pylab as pl
import warnings
import datetime as dt
warnings.filterwarnings("ignore")

In [0]:
df = pd.read_csv("/content/Casos1.csv")
dist=df["Fecha de diagnóstico"]
cont = []
for i in range(0,len(dist)):
    cont.append(i+1)

df["Contador"]=cont

In [194]:
df.head(20)

    ID de caso Fecha de diagnóstico  ...        País de procedencia Contador
0            1           06/03/2020  ...                     ITALIA        1
1            2           09/03/2020  ...                     ESPAÑA        2
2            3           09/03/2020  ...                     ESPAÑA        3
3            4           11/03/2020  ...                   COLOMBIA        4
4            5           11/03/2020  ...                   COLOMBIA        5
5            6           11/03/2020  ...                   COLOMBIA        6
6            7           11/03/2020  ...  ESTADOS UNIDOS DE AMÉRICA        7
7            8           11/03/2020  ...                     ESPAÑA        8
8            9           11/03/2020  ...                     ESPAÑA        9
9           10           12/03/2020  ...                     ESPAÑA       10
10          11           12/03/2020  ...                     ESPAÑA       11
11          12           12/03/2020  ...                     ITALIA       12
12          13           12/03/2020  ...                   COLOMBIA       13
13          14           13/03/2020  ...                     ESPAÑA       14
14          15           13/03/2020  ...                     ESPAÑA       15
15          16           13/03/2020  ...                     ITALIA       16
16          17           14/03/2020  ...                     ESPAÑA       17
17          18           14/03/2020  ...                     ESPAÑA       18
18          19           14/03/2020  ...                   COLOMBIA       19
19          20           14/03/2020  ...                   COLOMBIA       20

[20 rows x 10 columns]

In [195]:
columns=df[["Fecha de diagnóstico", "Contador"]]
dat=pd.to_datetime(columns["Fecha de diagnóstico"],  dayfirst=True)
print(columns["Fecha de diagnóstico"][:1])

0    06/03/2020
Name: Fecha de diagnóstico, dtype: object

In [196]:
#columns['Fecha'] = dat
#columns.head(10)
#print(len(columns["Fecha de diagnóstico"]))

var=columns["Fecha de diagnóstico"][0]
fechas=[]
len_dat=len(columns["Fecha de diagnóstico"])
for i in range(len_dat):
  # print(columns["Fecha de diagnóstico"][i])
  if(var!=columns["Fecha de diagnóstico"][i]):
    fechas.append([columns["Fecha de diagnóstico"][i-1],columns["Contador"][i-1]])
    var=columns["Fecha de diagnóstico"][i]
fechas.append([columns["Fecha de diagnóstico"][len_dat-1],columns["Contador"][len_dat-1]])

print("Fecha\t\tCaso")
for i in fechas:
  print(i[0],"\t",i[1])

Fecha		Caso
06/03/2020 	 1
09/03/2020 	 3
11/03/2020 	 9
12/03/2020 	 13
13/03/2020 	 16
14/03/2020 	 24
15/03/2020 	 45
16/03/2020 	 57
17/03/2020 	 75
18/03/2020 	 102
19/03/2020 	 128
20/03/2020 	 175
21/03/2020 	 210
22/03/2020 	 240
23/03/2020 	 306
24/03/2020 	 419
25/03/2020 	 481
26/03/2020 	 491
27/3/2020 	 539
28/3/2020 	 608
29/3/2020 	 702
30/3/2020 	 798
31/3/2020 	 906
01/04/2020 	 1065
02/04/2020 	 1161
03/04/2020 	 1267
04/04/2020 	 1406
05/04/2020 	 1485
06/04/2020 	 1579
07/04/2020 	 1780
08/04/2020 	 2054
09/04/2020 	 2223
10/04/2020 	 2473
11/04/2020 	 2709
12/04/2020 	 2776
13/04/2020 	 2852
14/04/2020 	 2979

In [202]:
fechas=pd.DataFrame(fechas)
fechas=fechas.rename(columns={0:"Fechas",1:"Casos"})

Count=[]
for i in range(len(fechas)):
  Count.append(i+1)
#print(Count)
fechas["Días"]=Count

Datos=fechas[["Días","Casos"]]
Datos.head(38)

    Días  Casos
0      1      1
1      2      3
2      3      9
3      4     13
4      5     16
5      6     24
6      7     45
7      8     57
8      9     75
9     10    102
10    11    128
11    12    175
12    13    210
13    14    240
14    15    306
15    16    419
16    17    481
17    18    491
18    19    539
19    20    608
20    21    702
21    22    798
22    23    906
23    24   1065
24    25   1161
25    26   1267
26    27   1406
27    28   1485
28    29   1579
29    30   1780
30    31   2054
31    32   2223
32    33   2473
33    34   2709
34    35   2776
35    36   2852
36    37   2979